.Header__home{
    background: url('../../images/stars.svg'), #1B1B25;
    height: 100%;
}

.rowHome{
    height: 100%;
}

.astronautsImg{
    width: 60%;
    flex-basis: unset;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}



.legend{
    flex-basis: unset;
    width: 40%;
    padding-right: 5%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: right;
}

.ordenateItems{
    display: block;
    text-align: center;
}